@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

@layer components {
  .search-label {
    @apply mb-4;
    @apply pt-4;
    @apply w-full;
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply justify-center;
    /*margin-bottom: 15px;
    padding-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
  }

  .search-control {
    @apply px-4;
    @apply py-2;
    @apply w-80;
    @apply rounded-md;
    /* padding: 8px 15px; 
    width: 300px;
    border-radius: 5px;*/
  }

  .active {
    @apply border-blue-500;
    @apply border-solid;
    @apply border-2;
  }
}
